<template>
  <div>
<<<<<<< HEAD
  <v-card>
    <v-card-title>
      Camiones
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        v-bind:search="search">
      
      <template slot="items" slot-scope="props">
        <td class="text-xs-center">
            <v-btn fab dark small color="red" @click="borrar(props.item)">
              <v-icon dark>clear</v-icon>
            </v-btn>{{ props.item.id }}
        </td>
        <td>
          <v-edit-dialog
            lazy
            large
            @save="update(props.item)"
          > {{ props.item.descripcion }}
            <v-text-field
              slot="input"
              label="Edit"
              v-model="props.item.descripcion"
              single-line
              counter
            ></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-edit-dialog
            lazy
            large
            @save="update(props.item)"
          > {{ props.item.placas }}
            <v-text-field
              slot="input"
              label="Edit"
              v-model="props.item.placas"
              single-line
              counter
            ></v-text-field>
          </v-edit-dialog>
        </td>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </v-card>
  <v-card>
    <NewCamion />
  </v-card>
=======
    <v-card>
      <v-card-title>
      Camiones
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
          v-bind:headers="headers"
          v-bind:items="items"
          v-bind:search="search"
        >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">
            <v-btn fab dark small color="red" @click="borrarALV(props.item)">
              <v-icon dark>clear</v-icon>
            </v-btn>{{ props.item.id }}</td>
          <td>
            <v-edit-dialog
              lazy
              large
              @save="update(props.item)"
            > {{ props.item.descripcion }}
              <v-text-field
                slot="input"
                label="Edit"
                v-model="props.item.descripcion"
                single-line
                counter
                
              ></v-text-field>
            </v-edit-dialog>
          </td>
          
         <td class="text-xs-center">{{ props.item.placas }}</td>  
        </template>
        <template slot="pageText" slot-scope="{ pageStart, pageStop }">
          From {{ pageStart }} to {{ pageStop }}
        </template>
      </v-data-table>
    </v-card>
    <v-flex class="xs6  offset-sm3">
      <v-card>
        <new-camion />
      </v-card>
    </v-flex>
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
  </div>
</template>

<script>
import NewCamion from '@/components/NewCamion'
import EndpointCamion from '@/services/EndpointCamion'
<<<<<<< HEAD
import NewCamion from '@/components/NewCamion'
=======
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
  export default {
    data () {
      return {
        max25chars: (v) => v.length <= 25 || 'Input too long!',
        tmp: '',
        search: '',
        pagination: {},
        headers: [
          {
            text: 'id',
            align: 'left',
            sortable: false,
            value: 'id'
          },{
            text: 'descripcion',
            align: 'left',
            sortable: false,
            value: 'descripcion'
          },{
            text: 'placas',
            align: 'left',
            sortable: false,
            value: 'placas'
          },
        ],
        items: [],
        
      }
    },
    methods:{
      async update (este) {
        let objUpdate = {
          params:{
            id: este.id
          },
          body:{
            descripcion: este.descripcion
          }
        }
        this.upd = (await EndpointCamion.put(objUpdate)).data
      },
      
      async borrarALV (este){
        let objUpdate = {
          params:{
            id: este.id
          }
        }
        this.del = (await EndpointCamion.delete(objUpdate)).data

      }
    },
    async mounted () {
      this.items = (await EndpointCamion.index()).data 
    },
<<<<<<< HEAD
    methods:{
      async update (este) {
        let objUpdate = {
          params:{
            id: este.id
          },
          body:{
            descripcion: este.descripcion,
            placas: este.placas
          }
        }
        this.upd = (await EndpointCamion.put(objUpdate)).data
      },
      async borrar (este){
        let objUpdate = {
          params:{
            id: este.id
          }
        }
        this.del = (await EndpointCamion.delete(objUpdate)).data

      }
    },
    components:{ NewCamion }

=======
    components:{ NewCamion }
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
  }
</script>