<template>
<<<<<<< HEAD
  <v-form ref="form" lazy-validation>
    Agregar una nueva unidad:
=======
  <v-form v-model="valid" ref="form" lazy-validation>
    Agregar un nuevo Camion
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
    <v-flex>
      <v-text-field
        label="Descripcion"
        v-model="descripcion"
      ></v-text-field>
<<<<<<< HEAD
=======
    </v-flex> 
    <v-flex>
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
      <v-text-field
        label="Placas"
        v-model="placas"
      ></v-text-field>
    </v-flex> 
    <v-btn color="primary"
<<<<<<< HEAD
      @click="post"
=======
      @click="this(descripcion)"
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
    >
      Enviar
    </v-btn>
  </v-form>
</template>
<script>
import EndpointCamion from '@/services/EndpointCamion'

export default {
  data () {
    return {
<<<<<<< HEAD
      descripcion:'',
      placas :''
    }
  },
  methods:{
    async post () {
      let objUpd = {
        body : {
          descripcion:this.descripcion,
          placas :this.placas
        }
      }
      this.upd = (await EndpointCamion.post(objUpd)).data
    }
  }
=======
      descripcion:"",
      placas:""
      
    }
  },
 
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
}
</script>
