<template>
<<<<<<< HEAD
  <v-form ref="form" lazy-validation>
    Agregar una nueva ruta:
=======
  <v-form v-model="valid" ref="form" lazy-validation>
    Agregar una Ruta
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
    <v-flex>
      <v-text-field
        label="Nombre"
        v-model="nombre"
      ></v-text-field>
<<<<<<< HEAD
      <v-text-field
        label="NombreLargo"
        v-model="nombreLargo"
      ></v-text-field>
      <v-text-field
        label="NombreOrden"
        v-model="nombreOrden"
      ></v-text-field>
      <v-text-field
        label="Trayecto"
        v-model="trayecto"
        multi-line
      ></v-text-field>
    </v-flex> 
    <v-btn color="primary"
      @click="post"
=======
    </v-flex> 
    <v-flex>
      <v-text-field
        label="nombreLargo"
        v-model="nombreLargo"
      ></v-text-field>
    </v-flex> 
    <v-flex>
      <v-text-field
        label="nombreOrden"
        v-model="nombreOrden"
      ></v-text-field>
    </v-flex> 
    <v-flex>
      <v-text-field
        label="trayecto"
        v-model="trayecto"
      ></v-text-field>
    </v-flex>
     <v-flex>
      <v-text-field
        label="tipo"
        v-model="tipo"
      ></v-text-field>
    </v-flex> 
     <v-flex>
      <v-text-field
        label="activo"
        v-model="activo"
      ></v-text-field>
    </v-flex> 
      
    <v-btn color="primary"
      @click="post(nombre)"
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
    >
      Enviar
    </v-btn>
  </v-form>
</template>
<script>
import EndpointRuta from '@/services/EndpointRuta'

export default {
  data () {
    return {
<<<<<<< HEAD
      nombre:'',
      nombreLargo:'',
      nombreOrden:'',
      trayecto:''
    }
  },
  methods:{
    async post () {
      let objUpd = {
        body : {
          nombre:this.nombre,
          nombreLargo:this.nombreLargo,
          nombreOrden:this.nombreOrden,
          trayecto:this.trayecto
        }
      }
      this.upd = (await EndpointRuta.post(objUpd)).data
    }
  }
}
</script>
=======
      nombre:""
    }
  },
  methods:{
    async post (este) {
      let body = {
        nombre: este
      }
      this.upd = (await EndpointRuta.post(body)).data
    }
  }
}
</script>
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
