<template>
  <section class="content">
    
           <v-layout row wrap xs8>
          <v-flex xs8>
            <v-card color="blue-grey darken-2" class="white--text">
              <v-card-title primary-title>
                <div class="headline">Selecciona tu programacion</div>
                <div></div>
              </v-card-title>
              <v-card-actions>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs8>
            <v-card color="deep-purple lighten-4" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs8>
                    <div>
                       <router-link to="chofercamion" class="nav-link">Choferes-Camiones</router-link>
                      <div class="headline"></div>
                    </div>
                  </v-flex>
                  <v-flex xs8>
                    <v-card-media
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
            <v-flex xs8>
            <v-card color="deep-purple lighten-4" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs8>
                    <div>
                      <router-link to="camionruta" class="nav-link">Camiones- Rutas</router-link>
                      <div class="headline"></div>
                    
                    </div>
                  </v-flex>
                  <v-flex xs8>
                    <v-card-media
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex xs8>
           <v-card color="deep-purple lighten-4" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs8>
                    <div>
                        <router-link to="rutaparada" class="nav-link">Rutas-Paradas</router-link>
                      <div class="headline"></div>
                     
                    </div>
                  </v-flex>
                  <v-flex xs8>

                    <v-card-media
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
<<<<<<< HEAD
         
   </v-layout>
  </section>
</template>

<script>
// Require needed datatables modules
export default {
  name: 'Tables'
}
=======
        </v-layout>
         <v-bottom-sheet v-model="sheet">
       <v-btn color="primary"
      @click="post(id)" >
      Enviar
    </v-btn>
     
    </v-bottom-sheet>
      </v-container>
    </v-card-text>
  </v-card>
</template>
<script>
import EndpointChofer from '@/services/EndpointChofer'
import EndpointCamion from '@/services/EndpointCamion'
  export default {
    data () {
      return {
        e1:null,
        e2:null,
      max25chars: v => v.length <= 25 || "Input too long!",
      tmp: "",
      search: "",
      pagination: {},
      headers: [
        {
          text: "id",
          align: "left",
          sortable: false,
          value: "id"
        },
        {
          text: "nomChofer",
          align: "left",
          sortable: false,
          value: "idCamion"
        },{
          text: "fotochofer",
          align: "left",
          sortable: false,
          value: "idChofer"
        }
      ],
      camiones: [],
      choferes: [],
      tabla: [],
      items:[{text:"a", value:"1"},{text:"b", value:"2"},{text:"c", value:"3"},{text:"d", value:"4"},{text:"e", value:"5"}]

      }
    },
    
    async mounted () {
      this.choferes = (await EndpointChofer.index()).data
      this.camiones = (await EndpointCamion.index()).data 
    }   
  } 
>>>>>>> 2fc1cb6ad1b2bc2ef6135d494b4fde58594aac68
</script>

<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.
   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.
@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/
@import url('/static/js/plugins/datatables/dataTables.bootstrap.css');
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
}
table.dataTable thead .sorting_asc:after {
  content: "\f0dd";
}
table.dataTable thead .sorting_desc:after {
  content: "\f0de";
}
</style>
